// Start Designing The Website Footer
footer
  div(class="container")
    div(class="footer-boxs")
      div(class="footer-box-text")
        div(class="footer-box")
          h2 RAPID
          p(class="rapid-para") Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.
        div(class="footer-box")
          h3 OUR NEWSLETTER
          p Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.
          div(class="footer-box-input")
            input(type="email")
            a(href="#") Subscribe
        div(class="footer-box")
          h3 USEFUL LINKS
          a(href="#") Home
          a(href="#") About us
          a(href="#") Services
          a(href="#") Terms of service
          a(href="#") Privacy policy
        div(class="footer-box")
          h3 CONTACT US
          p A108 Adam Street
          p New York, NY 535022
          p United States
          p #[span Phone:] +1 5589 55488 55
          p #[span Email:] info@example.com
          div(class="footer-box-icons")
            div(class="footer-box-icon")
              a(href="#")
                i(class="fab fa-twitter")
            div(class="footer-box-icon")
              a(href="#")
                i(class="fab fa-facebook-f")
            div(class="footer-box-icon")
              a(href="#")
                i(class="fab fa-instagram")
            div(class="footer-box-icon")
              a(href="#")
                i(class="fab fa-linkedin")
      div(class="footer-box-form")
        div(class="footer-box")
          h3 SEND US A MESSAGE
          p Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.
        div(class="footer-box")
          input(type="text" placeholder="Your Name")
          input(type="email" placeholder="Your Email")
          input(type="text" placeholder="Subject")
          textarea(placeholder="Message")
          a(href="#") Send Message
  div(class="footer-copyrights")
    div(class="container")
      p &copy; Copyright #[span Rapid]. All Rights Reserved
      p Designed by #[span Mina Karam Ghoprial]
// Finish Designing The Website Footer
