// Start Designing The Website Header
header
  div(class="icons-box")
    div(class="container")
      div(class="icons")
        div(class="icon")
          a(href="#")
            i(class="fab fa-twitter")
        div(class="icon")
          a(href="#")
            i(class="fab fa-facebook-f")
        div(class="icon")
          a(href="#")
            i(class="fab fa-linkedin")
        div(class="icon")
          a(href="#")
            i(class="fab fa-instagram")
  div(class="top-bar-container")
    div(class="container")
      div(class="top-bar")
        div(class="logo")
          a(href="#") Rapid
        nav
          div(class="overlay")
          ul(class="main-list")
            li(class="list-item")
              a(href="#top" class="home active") Home
            li(class="list-item")
              a(href="#about" class="about") About Us
            li(class="list-item")
              a(href="#services" class="services") Services
            li(class="list-item")
              a(href="#portfolio" class="portfolio") Portfolio
            li(class="list-item")
              a(href="#team" class="team") Team
            li(class="list-item drop-down")
              a(href="#") Drop Down
                i(class="fas fa-chevron-down")
              ul(class="drop-down-list")
                li(class="drop-down-item")
                  a(href="#" class="drop-down-link") Drop Down 1
                li(class="drop-down-item deep-drop")
                  a(href="#" class="drop-down-link") Drop Down 2
                    i(class="fas fa-chevron-down")
                  ul(class="deep-drop-down")
                    li(class="deep-drop-down-item")
                      a(href="#" class="deep-drop-down-link") Deep Drop Down 1
                    li(class="deep-drop-down-item")
                      a(href="#" class="deep-drop-down-link") Deep Drop Down 2
                    li(class="deep-drop-down-item")
                      a(href="#" class="deep-drop-down-link") Deep Drop Down 3
                    li(class="deep-drop-down-item")
                      a(href="#" class="deep-drop-down-link") Deep Drop Down 4
                    li(class="deep-drop-down-item")
                      a(href="#" class="deep-drop-down-link") Deep Drop Down 5
                li(class="drop-down-item")
                  a(href="#" class="drop-down-link") Drop Down 3
                li(class="drop-down-item")
                  a(href="#" class="drop-down-link") Drop Down 4
                li(class="drop-down-item")
                  a(href="#" class="drop-down-link") Drop Down 5
            li(class="list-item")
              a(href="#") Contact Us
        div(class="mobile-btn")
          span(class="line")
          span(class="line")
          span(class="line")
  section(class="banner")
    div(class="container")
      div(class="banner-boxs")
        div(class="banner-box")
          h1 Rapid Solutions for Your #[span Business!]
          a(href="#") Get Started
        div(class="banner-box")
          img(src="images/banner.png" alt="Banner Image")
// Finish Designing The Website Header