$black: #444;
$black2: #111;
$black3: #282646;
$black4: #000;
$blue:#1bb1dc;
$blue2:#0a98c0;
$blue3:#42c3e8;
$blue4: #3fcdc7;
$blue5: #2282ff;
$blue6: #589af1;
$light-blue: #e6fdfc;
$light-blue2: #e1eeff;
$dark-blue:#535074;
$dark-blue2:#065e77;
$dark-blue3:#413e66;
$dark-blue4:#555186;
$dark-blue5:#2d2b46;
$dark-blue6:#6c67a3;
$gray: #696592;
$gray2: #8a87b6;
$gray3: #999;
$light-gray: #ebf1fa;
$light-gray2: #ecebff;
$light-gray3: #ebebeb;
$light-gray4: #d9dde6;
$green: #41cf2e;
$light-green: #f5f8fd;
$light-green2: #eafde7;
$light-green3: #f2f2f2;
$orange: #e98e06;
$orange2: #ffb774;
$pink: #ff689b;
$pink2: #f058dc;
$light-pink: #fceef3;
$purple: #8660fe;
$white: #fff;